<div style="min-width: 100%; min-height: 200; background-image: url('../assets/img/index.jpg');">
    <br>
    <div class="container" style="max-width: 600px; background-color: white;">
    <h2 class="textual">User Login</h2>
    <div class="container">
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger">{{msg}}</small>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="from-control" placeholder="Enter email" name="email" [(ngModel)]= "user.emailId" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
             #email="ngModel"
            [class.is-invalid]= "email.invalid && email.touched"
            >
            <div *ngIf= "email.errors &&(email.valid && email.untouched)">
                <!-- <small class="text-danger" *ngIf= "email.errors.required">Email required</small>
                <small class="text-danger" *ngIf= "email.errors.pattern">Enter valid Email</small> -->
            </div>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="from-control" placeholder="Enter password" name="pwd" [(ngModel)]= "user.password" required #password="ngModel"
            [class.is-invalid]= "password.invalid || password.touched"
            >
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember">Remember me</label>
        </div>
        <button [disabled]= "loginform.form.invalid" type="submit" class="btn btn-info">Login</button>
        <small class="float-right" [routerLink]="['/registration']">New user ? Register here</small>
    </form>
</div>
</div>
</div>